################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShoppingProject/bin/Debug
/ShoppingProject/obj/Debug
